.Quote {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.Quote .BoxWrap {
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    border: 2px solid white;
}

.BoxWrap h4 {
    flex-direction: column;
    display: flex;
    color: rgba(255, 255, 255, .8);
    font-weight: 300;
    text-align: center;
    line-height: 31px;
    font-size: 26px;
    
}

.border-decorator {
    position: absolute;
    left: 1%;
    right: 1%;
    top: 5%;
    bottom: 5%;
    z-index: 10;
}

.bd {
    width: 50px;
    height: 50px;
}

.lt {
    position: absolute;
    left: 0;
    top: 0;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: white;
    border-width: 8px;
}

.rt {
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1px solid;
    border-top: 1px solid;
    border-color: white;
    border-width: 8px;
}

.lb {
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: white;
    border-width: 8px;
}

.rb {
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: white;
    border-width: 8px;  
}

h4 strong {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    display: inline-block;
    color: #FEC207;
    padding: 10px 0 10px 0px;
    font-size: 30px;
}

.quoteImage {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.quoteImage img {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    height: auto;
    width: 1680px;
}