
.quote {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 22px;
}

.text {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text p {
    font-size: 40px;
    line-height: 46px;
    color: white;
    font-weight: 300;
}

.DonaSignature{
    margin: 0 auto;
    width: 380px;
}

.stories {
    text-align: center;
}