.donaLinkdin .imageProfile{
    width: 128px;
    height: 128px;
    box-sizing: border-box;
    background-clip: content-box;
    border: 0 solid transparent;
    border-radius: 49.9%;
    background-color: rgba(243,246,248,.94);
    border: 4px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
    box-sizing: content-box;
    margin: auto;
    overflow: hidden;
}

.donaLinkdin img {
    width: 100%;
}

.donaLinkdin a{
    display: block;
    text-align: center;
}